*{
    padding: 0;
    margin: 0;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2F4F4F;
    color: #fff;
    padding: 15px 30px;
}

.navbar-brand{
    font-size: 24px;
    font-weight: bold;
}

.navbar-links{
    display: flex;
    list-style: none;
    gap: 20px;
}

button{
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}