*{
    padding: 0;
    margin: 0;
}

body{
    background: #f2f2f2;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    flex: 1;
    min-height: 250px;
    background: white;
    border-radius: 10px;
    padding: 20px;
}